/* @import "tailwindcss"; */

::selection {
  background-color: var(--color-accent-5);
}

:root {
  --sh-class: var(--color-accent-11);
  --sh-identifier: var(--color-error-11);
  --sh-sign: var(--color-neutral-10);
  --sh-string: var(--color-success-11);
  --sh-keyword: var(--color-neutral-11);
  --sh-comment: var(--color-neutral-9);
  --sh-jsxliterals: var(--color-neutral-11);
  --sh-property: var(--color-neutral-11);
  --sh-entity: var(--color-accent-11);
}

html {
  min-width: 360px;
  font-family: var(--font-sans);
}

.prose {
  font-size: 15px;
  line-height: var(--font-size-base--line-height);
  color: var(--color-neutral-text);

  h1 {
    font-size: var(--font-size-4xl);
    line-height: var(--font-size-4xl--line-height);
    margin-top: var(--spacing-12);
    margin-bottom: var(--spacing-12);
  }

  h2 {
    font-size: var(--font-size-xl);
    line-height: var(--font-size-2xl--line-height);
    margin-top: var(--spacing-12);
    margin-bottom: var(--spacing-2);
  }

  h3 {
    font-size: var(--font-size-lg);
    line-height: var(--font-size-xl--line-height);
    margin-top: var(--spacing-8);
    margin-bottom: var(--spacing-2);
  }

  h4 {
    font-size: var(--font-size-base);
    line-height: var(--font-size-lg--line-height);
    margin-top: var(--spacing-8);
    margin-bottom: var(--spacing-2);
  }

  h5 {
    font-size: var(--font-size-sm);
    line-height: var(--font-size-base--line-height);
    margin-top: var(--spacing-8);
    margin-bottom: var(--spacing-2);
  }

  h6 {
    font-size: var(--font-size-xs);
    line-height: var(--font-size-sm--line-height);
    margin-top: var(--spacing-8);
    margin-bottom: var(--spacing-2);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
    letter-spacing: var(--letter-spacing-tight);
    color: var(--color-neutral-text-contrast);
  }

  hr {
    border: 0;
    border-top: 1px solid var(--color-neutral-line);
    margin-top: var(--spacing-12);
    margin-bottom: var(--spacing-12);
  }

  p {
    margin-bottom: var(--spacing-4);
  }

  pre,
  ul,
  ol,
  dl,
  blockquote,
  table,
  img,
  video {
    margin-top: var(--spacing-4);
    margin-bottom: var(--spacing-4);
  }

  code {
    font-family: var(--font-mono);
    font-weight: 450;
  }

  pre {
    background-color: var(--color-accent-2);
    font-size: 13px;
    line-height: 20px;
    padding: var(--spacing-3) var(--spacing-4);
    border: 1px solid var(--color-neutral-line);
    border-radius: var(--radius-lg);

    code {
      background-color: transparent;
      font-size: inherit;
      line-height: inherit;
      padding: 0;
    }
  }

  .hash-link {
    position: absolute;
    visibility: hidden;
    text-decoration: none;
    margin-left: -1em;
    padding-right: 0.5em;
    width: 80%;
    max-width: 700px;
    cursor: pointer;

    &:after {
      content: '#';
      color: var(--color-neutral-placeholder);
      font-weight: normal;
    }
  }

  *:hover > .hash-link {
    visibility: visible;
  }
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.title {
  text-wrap: balance;
}
