::selection {
  background-color: var(--color-accent-5);
}

:root {
  --font-family-mono: var(--font-mono);
  --font-family-sans: var(--font-sans);

  --sh-class: var(--color-neutral-12);
  --sh-identifier: var(--color-neutral-12);
  --sh-sign: var(--color-neutral-10);
  --sh-string: var(--color-neutral-11);
  --sh-keyword: var(--color-neutral-11);
  --sh-comment: var(--color-neutral-9);
  --sh-jsxliterals: var(--color-neutral-11);
  --sh-property: var(--color-neutral-11);
  --sh-entity: var(--color-neutral-12);

  --sidebar-width: 280px;

  --color-bg-body: var(--color-neutral-2);
  --color-bg-panel: var(--color-neutral-1);
}

.dark,
.dark-theme {
  --color-bg-body: var(--color-neutral-1);
  --color-bg-panel: var(--color-neutral-2);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-bg-body: var(--color-neutral-9);
    --color-bg-panel: var(--color-neutral-8);
  }
} */

html {
  min-width: 360px;
}

.prose {
  pre,
  ul,
  ol,
  dl,
  blockquote,
  table,
  img,
  video {
    margin-top: var(--spacing-4);
    margin-bottom: var(--spacing-4);
  }
}

.hash-link {
  position: absolute;
  visibility: hidden;
  text-decoration: none;
  margin-left: -1.5em;
  padding: 0 0.5em;
  cursor: pointer;

  &:after {
    content: '#';
    color: var(--color-neutral-placeholder);
    font-weight: normal;
  }
}

*:hover > .hash-link {
  visibility: visible;
}
/* 
pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.title {
  text-wrap: balance;
}
