@import "../shim-ui/css/theme.css";

:root {
  --sidebar-width-min: 240px;
  --sidebar-width-max: 240px;
  --sidebar-width: minmax(var(--sidebar-width-min), var(--sidebar-width-max));
  --content-width-min: 800px;
  --content-width-max: 1400px;
  --content-width: minmax(var(--content-width-min), var(--content-width-max));

  --sh-class: var(--color-neutral-12);
  --sh-identifier: var(--color-neutral-12);
  --sh-sign: var(--color-neutral-10);
  --sh-string: var(--color-neutral-12);
  --sh-keyword: var(--color-neutral-11);
  --sh-comment: var(--color-neutral-9);
  --sh-jsxliterals: var(--color-neutral-11);
  --sh-property: var(--color-neutral-11);
  --sh-entity: var(--color-neutral-12);
}

@theme {
  --color-background: var(--color-pure);
  --color-background-subtle: var(--color-neutral-1);

  --animate-section-target: section-target-fade 3s linear;
  @keyframes section-target-fade {
    0% {
      background-color: var(--color-accent-2);
    }
    80% {
      background-color: var(--color-accent-2);
    }
    100% {
      background-color: transparent;
    }
  }
}

::selection {
  background-color: var(--color-accent-5);
}

html {
  min-width: 360px;
}

@utility background-gradient {
  background-image: radial-gradient(
    104.37% 134.11% at 14.28% -24.5%,
    var(--gray-a2) 0%,
    var(--gray-a4) 4.81%,
    var(--gray-a2) 95.19%
  );
}

article {
  :where(section):not(:where(.not-prose, .not-prose *)) {
    @apply p-6 md:p-8 not-last:border-b border-neutral-3;
  }

  .prose {
    @apply p-6 md:p-8;

    :where(section) {
      @apply my-8;
    }

    &.prose-changelog {
      @apply [&_h2]:text-base [&_h2]:text-neutral-text [&_h2]:font-medium;
    }

    :where(h1, h2, h3, h4, h5, h6):not(:where(.not-prose, .not-prose *)) {
      @apply col-span-full;
    }

    :where(h1):not(:where(.not-prose, .not-prose *)) {
      @apply scroll-mt-6 text-balance font-semibold text-neutral-text-contrast text-xl leading-tight lg:text-3xl;
    }

    :where(h2):not(:where(.not-prose, .not-prose *)) {
      @apply not-first:mt-8 mb-4 scroll-mt-6 text-balance font-semibold text-lg lg:text-xl text-neutral-text-contrast;
    }

    :where(h3):not(:where(.not-prose, .not-prose *)) {
      @apply not-first:mt-6 mb-2 scroll-mt-6 text-balance font-medium text-base lg:text-lg text-neutral-text-contrast;
    }

    :where(h4):not(:where(.not-prose, .not-prose *)) {
      @apply not-first:mt-6 mb-2 scroll-mt-6 text-balance font-medium text-base text-neutral-text-contrast;
    }

    :where(h5):not(:where(.not-prose, .not-prose *)) {
      @apply not-first:mt-6 mb-2 scroll-mt-6 text-balance font-medium text-neutral-text-contrast text-sm;
    }

    :where(h6):not(:where(.not-prose, .not-prose *)) {
      @apply not-first:mt-8 mb-2 scroll-mt-6 text-balance font-medium text-neutral-text-contrast text-sm;
    }

    :where(h1, h2, h3, h4, h5, h6) a:not(:where(.not-prose, .not-prose *)) {
      @apply text-inherit no-underline hover:underline hover:decoration-neutral-border-hover;
    }

    :where(p):not(:where(.not-prose, .not-prose *)) {
      @apply not-last:mb-4;
    }

    :where(ul):not(:where(.not-prose, .not-prose *)) {
      @apply not-last:mb-4 ml-4 list-disc;
    }

    :where(li):not(:where(.not-prose, .not-prose *)) {
      @apply my-0.5;
    }

    :where(hr):not(:where(.not-prose, .not-prose *)) {
      @apply my-8 border-neutral-3;
    }

    :where(em):not(:where(.not-prose, .not-prose *)) {
      @apply italic text-neutral-text-contrast;
    }

    :where(strong):not(:where(.not-prose, .not-prose *)) {
      @apply font-medium text-neutral-text-contrast;
    }

    :where(code):not(:where(.not-prose, .not-prose *)) {
      @apply font-mono text-accent-text text-[95%];
    }

    :where(dl):not(:where(.not-prose, .not-prose *)) {
      @apply my-4;
    }

    :where(dt):not(:where(.not-prose, .not-prose *)) {
      @apply font-medium text-neutral-text-contrast;
    }

    :where(dd):not(:where(.not-prose, .not-prose *)) {
      @apply mb-4 ml-4;
    }
  }
}
