/** biome-ignore-all lint/suspicious/noUnknownAtRules: tailwind at-rule syntax */
@import "../shim-ui/css/theme.css";

:root {
  --sidebar-width-min: 200px;
  --sidebar-width-max: 280px;
  --sidebar-width: minmax(var(--sidebar-width-min), var(--sidebar-width-max));
  --content-width-min: 800px;
  --content-width-max: 1120px;
  --content-width: minmax(var(--content-width-min), var(--content-width-max));
  --body-width: 80ch;

  --sh-class: var(--color-neutral-12);
  --sh-identifier: var(--color-neutral-12);
  --sh-sign: var(--color-neutral-10);
  --sh-string: var(--color-neutral-11);
  --sh-keyword: var(--color-neutral-11);
  --sh-comment: var(--color-neutral-9);
  --sh-jsxliterals: var(--color-neutral-11);
  --sh-property: var(--color-neutral-11);
  --sh-entity: var(--color-neutral-12);
}

@theme {
  --font-family-mono: var(--font-mono);
  --font-family-sans: var(--font-sans);
  --color-background: var(--color-pure);
  --color-background-subtle: var(--color-neutral-1);
}

.dark,
.dark-theme {
  --color-background: var(--color-neutral-1);
  --color-background-subtle: var(--color-pure);
}

::selection {
  background-color: var(--color-accent-5);
}

html {
  min-width: 360px;
}

article {
  @apply px-4 py-6 md:px-8 md:py-8 lg:px-12 lg:py-12;

  .prose {
    /* @apply font-book; */

    > section {
      @apply my-8;
    }

    > :is(p, ul, ol) {
      @apply max-w-[var(--body-width)];
    }

    :is(h1, h2, h3, h4, h5, h6) {
      @apply col-span-full;
    }

    > h1 {
      @apply scroll-mt-6 text-balance font-semibold text-neutral-text-contrast text-xl leading-tight lg:text-3xl;
    }

    > h2 {
      @apply not-first:mt-16 mb-4 scroll-mt-6 text-balance font-semibold text-lg lg:text-xl text-neutral-text-contrast;
    }

    > h3 {
      @apply not-first:mt-12 mb-4 scroll-mt-6 text-balance font-semibold text-base text-neutral-text-contrast;
    }

    > h4 {
      @apply not-first:mt-6 mb-4 scroll-mt-6 text-balance font-medium text-base text-neutral-text-contrast;
    }

    > h5 {
      @apply not-first:mt-6 mb-4 scroll-mt-6 text-balance font-medium text-neutral-text-contrast text-sm;
    }

    > h6 {
      @apply not-first:mt-8 mb-4 scroll-mt-6 text-balance font-medium text-neutral-text-contrast text-sm;
    }

    :is(h1, h2, h3, h4, h5, h6) a {
      @apply text-inherit no-underline hover:underline hover:decoration-neutral-border-hover;
    }

    p {
      @apply mb-4;
    }

    ul {
      @apply my-4 list-outside list-disc pl-4;
    }

    li {
      @apply mb-4;
    }

    hr {
      @apply my-4 border-neutral-3;
    }

    em {
      @apply italic text-neutral-text-contrast;
    }

    strong {
      @apply font-medium text-neutral-text-contrast;
    }

    code {
      @apply min-w-min font-mono text-accent-text;
    }
  }
}
