@import "tailwindcss";

@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/white-alpha.css";
@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/gray-alpha.css";
@import "@radix-ui/colors/gray-dark.css";
@import "@radix-ui/colors/gray-dark-alpha.css";
@import "@radix-ui/colors/slate.css";
@import "@radix-ui/colors/slate-alpha.css";
@import "@radix-ui/colors/slate-dark.css";
@import "@radix-ui/colors/slate-dark-alpha.css";
@import "@radix-ui/colors/iris.css";
@import "@radix-ui/colors/iris-alpha.css";
@import "@radix-ui/colors/iris-dark.css";
@import "@radix-ui/colors/iris-dark-alpha.css";
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/green-alpha.css";
@import "@radix-ui/colors/green-dark.css";
@import "@radix-ui/colors/green-dark-alpha.css";
@import "@radix-ui/colors/orange.css";
@import "@radix-ui/colors/orange-alpha.css";
@import "@radix-ui/colors/orange-dark.css";
@import "@radix-ui/colors/orange-dark-alpha.css";
@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/red-alpha.css";
@import "@radix-ui/colors/red-dark.css";
@import "@radix-ui/colors/red-dark-alpha.css";

@theme {
  --color-*: initial; /* Reset Tailwind colors */
  --color-white: #fff;
  --color-black: #000;
  --color-transparent: transparent;
  --color-pure: var(--color-white);

  /* Semantic aliases: https://www.radix-ui.com/colors/docs/overview/aliasing#semantic-aliases */

  --color-neutral-1: var(--gray-1);
  --color-neutral-2: var(--gray-2);
  --color-neutral-3: var(--gray-a3);
  --color-neutral-4: var(--gray-a4);
  --color-neutral-5: var(--gray-a5);
  --color-neutral-6: var(--gray-a6);
  --color-neutral-7: var(--gray-a7);
  --color-neutral-8: var(--gray-a8);
  --color-neutral-9: var(--gray-9);
  --color-neutral-10: var(--gray-10);
  --color-neutral-11: var(--gray-a11);
  --color-neutral-12: var(--gray-a12);

  --color-accent-1: var(--iris-a1);
  --color-accent-2: var(--iris-a2);
  --color-accent-3: var(--iris-a3);
  --color-accent-4: var(--iris-a4);
  --color-accent-5: var(--iris-a5);
  --color-accent-6: var(--iris-a6);
  --color-accent-7: var(--iris-a7);
  --color-accent-8: var(--iris-a8);
  --color-accent-9: var(--iris-9);
  --color-accent-10: var(--iris-10);
  --color-accent-11: var(--iris-a11);
  --color-accent-12: var(--iris-a12);

  --color-success-1: var(--green-a1);
  --color-success-2: var(--green-a2);
  --color-success-3: var(--green-a3);
  --color-success-4: var(--green-a4);
  --color-success-5: var(--green-a5);
  --color-success-6: var(--green-a6);
  --color-success-7: var(--green-a7);
  --color-success-8: var(--green-a8);
  --color-success-9: var(--green-9);
  --color-success-10: var(--green-10);
  --color-success-11: var(--green-a11);
  --color-success-12: var(--green-a12);

  --color-warning-1: var(--orange-a1);
  --color-warning-2: var(--orange-a2);
  --color-warning-3: var(--orange-a3);
  --color-warning-4: var(--orange-a4);
  --color-warning-5: var(--orange-a5);
  --color-warning-6: var(--orange-a6);
  --color-warning-7: var(--orange-a7);
  --color-warning-8: var(--orange-a8);
  --color-warning-9: var(--orange-9);
  --color-warning-10: var(--orange-10);
  --color-warning-11: var(--orange-a11);
  --color-warning-12: var(--orange-a12);

  --color-error-1: var(--red-a1);
  --color-error-2: var(--red-a2);
  --color-error-3: var(--red-a3);
  --color-error-4: var(--red-a4);
  --color-error-5: var(--red-a5);
  --color-error-6: var(--red-a6);
  --color-error-7: var(--red-a7);
  --color-error-8: var(--red-a8);
  --color-error-9: var(--red-9);
  --color-error-10: var(--red-10);
  --color-error-11: var(--red-a11);
  --color-error-12: var(--red-a12);

  /* Use case aliases: https://www.radix-ui.com/colors/docs/overview/aliasing#use-case-aliases */

  --color-neutral-base: var(--color-neutral-1);
  --color-neutral-bg-subtle: var(--color-neutral-2);
  --color-neutral-bg: var(--color-neutral-3);
  --color-neutral-bg-hover: var(--color-neutral-4);
  --color-neutral-bg-active: var(--color-neutral-5);
  --color-neutral-line: var(--color-neutral-6);
  --color-neutral-border: var(--color-neutral-7);
  --color-neutral-border-hover: var(--color-neutral-8);
  --color-neutral-focus-ring: var(--color-neutral-8);
  --color-neutral-solid: var(--color-neutral-9);
  --color-neutral-solid-hover: var(--color-neutral-10);
  --color-neutral-placeholder: var(--color-neutral-9);
  --color-neutral-text: var(--color-neutral-11);
  --color-neutral-text-contrast: var(--color-neutral-12);

  --color-accent-base: var(--color-accent-1);
  --color-accent-bg-subtle: var(--color-accent-2);
  --color-accent-bg: var(--color-accent-3);
  --color-accent-bg-hover: var(--color-accent-4);
  --color-accent-bg-active: var(--color-accent-5);
  --color-accent-line: var(--color-accent-6);
  --color-accent-border: var(--color-accent-7);
  --color-accent-border-hover: var(--color-accent-8);
  --color-accent-focus-ring: var(--color-accent-8);
  --color-accent-solid: var(--color-accent-9);
  --color-accent-solid-hover: var(--color-accent-10);
  --color-accent-placeholder: var(--color-accent-9);
  --color-accent-text: var(--color-accent-11);
  --color-accent-text-contrast: var(--color-accent-12);

  --color-success-base: var(--color-success-1);
  --color-success-bg-subtle: var(--color-success-2);
  --color-success-bg: var(--color-success-3);
  --color-success-bg-hover: var(--color-success-4);
  --color-success-bg-active: var(--color-success-5);
  --color-success-line: var(--color-success-6);
  --color-success-border: var(--color-success-7);
  --color-success-border-hover: var(--color-success-8);
  --color-success-focus-ring: var(--color-success-8);
  --color-success-solid: var(--color-success-9);
  --color-success-solid-hover: var(--color-success-10);
  --color-success-placeholder: var(--color-success-9);
  --color-success-text: var(--color-success-11);
  --color-success-text-contrast: var(--color-success-12);

  --color-warning-base: var(--color-warning-1);
  --color-warning-bg-subtle: var(--color-warning-2);
  --color-warning-bg: var(--color-warning-3);
  --color-warning-bg-hover: var(--color-warning-4);
  --color-warning-bg-active: var(--color-warning-5);
  --color-warning-line: var(--color-warning-6);
  --color-warning-border: var(--color-warning-7);
  --color-warning-border-hover: var(--color-warning-8);
  --color-warning-focus-ring: var(--color-warning-8);
  --color-warning-solid: var(--color-warning-9);
  --color-warning-solid-hover: var(--color-warning-10);
  --color-warning-placeholder: var(--color-warning-9);
  --color-warning-text: var(--color-warning-11);
  --color-warning-text-contrast: var(--color-warning-12);

  --color-error-base: var(--color-error-1);
  --color-error-bg-subtle: var(--color-error-2);
  --color-error-bg: var(--color-error-3);
  --color-error-bg-hover: var(--color-error-4);
  --color-error-bg-active: var(--color-error-5);
  --color-error-line: var(--color-error-6);
  --color-error-border: var(--color-error-7);
  --color-error-border-hover: var(--color-error-8);
  --color-error-focus-ring: var(--color-error-8);
  --color-error-solid: var(--color-error-9);
  --color-error-solid-hover: var(--color-error-10);
  --color-error-placeholder: var(--color-error-9);
  --color-error-text: var(--color-error-11);
  --color-error-text-contrast: var(--color-error-12);

  /* Functional colors /

  /* Base body background color */
  --color-background: var(--color-neutral-1);
  /* Panel background color */
  --color-panel: var(--color-neutral-2);
  /* Popover background color for menus and dialogs */
  --color-popover: var(--color-white);
  /* Overlay background color for dialogs */
  --color-overlay: var(--black-a6);

  /* Type scale */

  --font-size-xs: 0.75rem;
  --font-size-xs--line-height: 1rem;
  --font-size-sm: 0.875rem;
  --font-size-sm--line-height: 1.25rem;
  --font-size-base: 1rem;
  --font-size-base--line-height: 1.5rem;
  --font-size-lg: 1.125rem;
  --font-size-lg--line-height: 1.75rem;
  --font-size-xl: 1.25rem;
  --font-size-xl--line-height: 1.75rem;
  --font-size-2xl: 1.5rem;
  --font-size-2xl--line-height: 2rem;
  --font-size-3xl: 1.875rem;
  --font-size-3xl--line-height: 2.25rem;
  --font-size-4xl: 2.25rem;
  --font-size-4xl--line-height: 2.5rem;
  --font-size-5xl: 3rem;
  --font-size-5xl--line-height: 1;
  --font-size-6xl: 3.75rem;
  --font-size-6xl--line-height: 1;
  --font-size-7xl: 4.5rem;
  --font-size-7xl--line-height: 1;
  --font-size-8xl: 6rem;
  --font-size-8xl--line-height: 1;
  --font-size-9xl: 8rem;
  --font-size-9xl--line-height: 1;

  /* Font weights */

  --font-weight-book: 450;

  /* Shadows */

  /* prettier-ignore */
  --shadow-inner:
    inset 0 0 0 1px var(--slate-a5),
    inset 0 1.5px 2px 0 var(--slate-a2),
    inset 0 1.5px 2px 0 var(--black-a2);

  /* prettier-ignore */
  --shadow-xs:
    0 0 0 1px color-mix(in oklab, var(--slate-a3), var(--slate-3) 25%),
    0 0 0 0.5px var(--black-a1),
    0 1px 1px 0 var(--slate-a2),
    0 2px 1px -1px var(--black-a1),
    0 1px 3px 0 var(--black-a1);

  /* prettier-ignore */
  --shadow-sm:
    0 0 0 1px color-mix(in oklab, var(--slate-a3), var(--slate-3) 25%),
    0 2px 3px -2px var(--slate-a3),
    0 3px 12px -4px var(--black-a2),
    0 4px 16px -8px var(--black-a2);

  /* prettier-ignore */
  --shadow-md:
    0 0 0 1px color-mix(in oklab, var(--slate-a3), var(--slate-3) 25%),
    0 8px 40px var(--black-a1),
    0 12px 32px -16px var(--slate-a3);

  /* prettier-ignore */
  --shadow-lg:
    0 0 0 1px color-mix(in oklab, var(--slate-a3), var(--slate-3) 25%),
    0 12px 60px var(--black-a3),
    0 12px 32px -16px var(--slate-a5);

  /* prettier-ignore */
  --shadow-xl:
    0 0 0 1px color-mix(in oklab, var(--slate-a3), var(--slate-3) 25%),
    0 12px 60px var(--black-a3),
    0 16px 64px var(--slate-a2),
    0 16px 36px -20px var(--slate-a7);

  /* Inset shadows
  --inset-shadow-xs: inset 0 1px rgb(0 0 0 / 0.05);
  --inset-shadow-sm: inset 0 1px 1px rgb(0 0 0 / 0.05);
  --inset-shadow: inset 0 2px 4px rgb(0 0 0 / 0.05); */
}

.dark,
.dark-theme {
  --color-pure: var(--color-black);
  --color-background: var(--color-neutral-1);
  --color-panel: var(--color-neutral-2);
  --color-popover: var(--color-neutral-2);
  --color-overlay: var(--black-a8);

  /* prettier-ignore */
  --shadow-inner: 
    inset 0 -1px 1px 0 var(--slate-a3),
    inset 0 0 0 1px var(--slate-a3),
    inset 0 3px 4px 0 var(--black-a5),
    inset 0 0 0 1px var(--slate-a4);

  /* prettier-ignore */
  --shadow-xs:
    0 0 0 1px color-mix(in oklab, var(--slate-a6), var(--slate-6) 25%),
    0 0 0 0.5px var(--black-a3),
    0 1px 1px 0 var(--black-a6),
    0 2px 1px -1px var(--black-a6),
    0 1px 3px 0 var(--black-a5);

  /* prettier-ignore */
  --shadow-sm:
    0 0 0 1px color-mix(in oklab, var(--slate-a6), var(--slate-6) 25%),
    0 2px 3px -2px var(--black-a3),
    0 3px 8px -2px var(--black-a6),
    0 4px 12px -4px var(--black-a7);

  /* prettier-ignore */
  --shadow-md:
    0 0 0 1px color-mix(in oklab, var(--slate-a6), var(--slate-6) 25%),
    0 8px 40px var(--black-a3),
    0 12px 32px -16px var(--black-a5);

  /* prettier-ignore */
  --shadow-lg:
    0 0 0 1px color-mix(in oklab, var(--slate-a6), var(--slate-6) 25%),
    0 12px 60px var(--black-a5),
    0 12px 32px -16px var(--black-a7);

  /* prettier-ignore */
  --shadow-xl:
    0 0 0 1px color-mix(in oklab, var(--slate-a6), var(--slate-6) 25%),
    0 12px 60px var(--black-a4),
    0 16px 64px var(--black-a6),
    0 16px 36px -20px var(--black-a11);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slide-in-top {
  from {
    transform: translateY(4px) scale(0.97);
  }
  to {
    transform: translateY(0) scale(1);
  }
}

@keyframes slide-out-top {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(4px) scale(0.97);
  }
}

@keyframes slide-in-bottom {
  from {
    transform: translateY(-4px) scale(0.97);
  }
  to {
    transform: translateY(0) scale(1);
  }
}

@keyframes slide-out-bottom {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-4px) scale(0.97);
  }
}

@keyframes slide-in-left {
  from {
    transform: translateX(4px) scale(0.97);
  }
  to {
    transform: translateX(0) scale(1);
  }
}

@keyframes slide-out-left {
  from {
    transform: translateX(0) scale(1);
  }
  to {
    transform: translateX(4px) scale(0.97);
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(-4px) scale(0.97);
  }
  to {
    transform: translateX(0) scale(1);
  }
}

@keyframes slide-out-right {
  from {
    transform: translateX(0) scale(1);
  }
  to {
    transform: translateX(-4px) scale(0.97);
  }
}

@keyframes indeterminate {
  from {
    left: -50%;
  }
  to {
    left: 100%;
  }
}

@utility animate-fade {
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);

  &:where([data-entering]) {
    animation-duration: 160ms;
    animation-name: fade-in;
  }

  &:where([data-exiting]) {
    animation-duration: 100ms;
    animation-name: fade-out;
  }
}

@utility animate-slide {
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);

  &:where([data-entering]) {
    animation-duration: 160ms;
    animation-name: slide-in-top, fade-in;

    &:where([data-placement="top"]) {
      animation-name: slide-in-top, fade-in;
    }

    &:where([data-placement="bottom"]) {
      animation-name: slide-in-bottom, fade-in;
    }

    &:where([data-placement="left"]) {
      animation-name: slide-in-left, fade-in;
    }

    &:where([data-placement="right"]) {
      animation-name: slide-in-right, fade-in;
    }
  }

  &:where([data-exiting]) {
    animation-duration: 100ms;
    animation-name: slide-out-top, fade-out;

    &:where([data-placement="top"]) {
      animation-name: slide-out-top, fade-out;
    }

    &:where([data-placement="bottom"]) {
      animation-name: slide-out-bottom, fade-out;
    }

    &:where([data-placement="left"]) {
      animation-name: slide-out-left, fade-out;
    }

    &:where([data-placement="right"]) {
      animation-name: slide-out-right, fade-out;
    }
  }
}
